body{
  margin: 0;
  padding: 0;
  background:rgb(255, 255, 255)
}
*{
text-align: center;
}
body 
{
text-align: center;
color:rgb(0, 0, 0)
}
body 
{
margin: auto;
width: 640px; 
padding: 50px;
font-family: 'Lexend Deca', sans-serif; 
color: #2E475D;    
text-align: center;
}
.container{
display: inline-block;
}
.typed-out
{
overflow: hidden;
white-space: nowrap;
animation: typing 2.5s steps(50, end) forwards;
font-size: 1.6rem;
width: 0;
color:rgb(0, 0, 0)
}
@keyframes typing
{
from { width: 0 }
to { width: 100% }
}
.resume
{
  text-align: left;
}
.padding
{
  padding-bottom: 25px;
}
p.indent {
  text-indent: 30px;
}

/*scaling*/
@media (max-width:600px){ 
  .flex-container {
   flex-direction: column;
}
.img img{ 
   padding-left: 15vh;
} 
.nameblock{
   width:90%;
   margin: auto;
   padding-left:0;
}
}
